In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("boat_data.csv")
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [3]:
df.shape

(9888, 10)

In [4]:
df.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
dtype: int64

In [5]:
df.dtypes

Price                           object
Boat Type                       object
Manufacturer                    object
Type                            object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Location                        object
Number of views last 7 days      int64
dtype: object

In [6]:
col_list = [] #to add all the object columns into this list

for col in df.columns:
    if(df[col].dtype == "object"):
        col_list.append(col)
print(col_list)

['Price', 'Boat Type', 'Manufacturer', 'Type', 'Material', 'Location']

In [7]:
df['Length'].fillna(int(df["Length"].median()),inplace=True)
df['Width'].fillna(int(df['Width'].median()),inplace=True)

In [8]:
df=df[df['Year Built']!=0]

In [9]:
df.drop(columns=['Location'],inplace=True)

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
freq_imp=SimpleImputer(strategy='most_frequent')
for col in ['Manufacturer','Type','Material']:
    df[[col]]=freq_imp.fit_transform(df[[col]])

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
label_encoder=LabelEncoder()

In [14]:
for col in ['Boat Type', 'Manufacturer', 'Type', 'Material']:
    df[col] = label_encoder.fit_transform(df[col])

In [15]:
df.dtypes

Price                           object
Boat Type                        int32
Manufacturer                     int32
Type                             int32
Year Built                       int64
Length                         float64
Width                          float64
Material                         int32
Number of views last 7 days      int64
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9337 entries, 0 to 9887
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9337 non-null   object
 1   Boat Type                    9337 non-null   int32
 2   Manufacturer                 9337 non-null   int32
 3   Type                         9337 non-null   int32
 4   Year Built                   9337 non-null   int64
 5   Length                       9337 non-null   float64
 6   Width                        9337 non-null   float64
 7   Material                     9337 non-null   int32
 8   Number of views last 7 days  9337 non-null   int64
dtypes: float64(2), int32(4), int64(2), object(1)
memory usage: 583.6+ KB

In [17]:
df.describe()

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days
count,9337.000000,9337.000000,9337.000000,9337.000000,9337.000000,9337.000000,9337.000000,9337.000000
mean,85.868159,380.652244,11.516761,2004.914962,11.749489,3.555671,3.013280,150.219557
std,31.396794,246.130071,4.280564,16.356241,6.026753,1.215988,2.181963,154.654566
min,0.000000,0.000000,0.000000,1885.000000,1.040000,0.010000,0.000000,13.000000
25%,79.000000,154.000000,9.000000,1999.000000,7.570000,2.550000,2.000000,70.000000
50%,95.000000,312.000000,9.000000,2008.000000,10.500000,3.370000,2.000000,108.000000
75%,108.000000,621.000000,14.000000,2018.000000,14.000000,4.260000,4.000000,172.000000
max,124.000000,888.000000,23.000000,2021.000000,100.000000,25.160000,10.000000,3263.000000

In [18]:
df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Number of views last 7 days'],
      dtype='object')

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X=df.drop(columns=['Price'])
y=df['Price']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 44)

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
classifier1 = RandomForestClassifier() #No.of decision trees = 400
classifier1.fit(X_train, y_train) #traning the model

In [ ]:
y_pred = classifier1.predict(X_test) #predictions for testing data
y_pred