In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("boat_data.csv")
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [3]:
df[['currency','Price']]=df['Price'].str.split(' ',1,expand=True)

In [4]:
df[['currency','Price']]

     currency  Price
0         CHF   3337
1         EUR   3490
2         CHF   3770
3         DKK  25900
4         EUR   3399
...       ...    ...
9883      CHF   4900
9884      EUR   4516
9885      EUR   4499
9886      EUR   4300
9887      CHF   3780

[9888 rows x 2 columns]

In [5]:
df['currency'].unique()

array(['CHF', 'EUR', 'DKK', 'Â£'], dtype=object)

In [6]:
def price_dollar(Price,currency):
    if currency=='EUR':
        return int(Price)*1.11
    elif currency=='CHF':
        return int(Price)*1.13
    elif currency=='DKK':
        return int(Price)*0.15
    elif currency=='Â£':
        return int(Price)*1.25
    
df['price_dollar']=df.apply(lambda x:price_dollar(x.Price,x.currency),axis=1)

In [7]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,currency,price_dollar
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3770.81
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3873.90
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,4260.10
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3885.00
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3772.89

In [8]:
df=df.drop(['Price','Location'],axis=1)

 import pandas as pd

df = pd.read_csv("boat_data.csv")
df['Currency'], df['Price'] = df['Price'].str.split(' ', 1).str
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

def determine_segment(price):
    if 3000 <= price <= 299400:
        return 1
    elif 299401 <= price <= 26000000:
        return 2
    else:
        return 3

df['Segment'] = df['Price'].apply(determine_segment)
print(df)

In [9]:
df.isna().sum()

Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Number of views last 7 days       0
currency                          0
price_dollar                      0
dtype: int64

In [10]:
df.shape

(9888, 10)

In [11]:
df=df.dropna()

In [12]:
df.isna().sum()

Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Number of views last 7 days    0
currency                       0
price_dollar                   0
dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
le = LabelEncoder()
sc = StandardScaler()
target_scaler=MinMaxScaler()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7048 entries, 1 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Boat Type                    7048 non-null   object
 1   Manufacturer                 7048 non-null   object
 2   Type                         7048 non-null   object
 3   Year Built                   7048 non-null   int64
 4   Length                       7048 non-null   float64
 5   Width                        7048 non-null   float64
 6   Material                     7048 non-null   object
 7   Number of views last 7 days  7048 non-null   int64
 8   currency                     7048 non-null   object
 9   price_dollar                 7048 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 605.7+ KB

In [15]:
col_list=list(df.columns)
col_list

['Boat Type',
 'Manufacturer',
 'Type',
 'Year Built',
 'Length',
 'Width',
 'Material',
 'Number of views last 7 days',
 'currency',
 'price_dollar']

In [16]:
for i in col_list:
    if df[i].dtypes=='object':
        df[i]=df[i].fillna(df[i].mode()[0])
    else:
        df[i]=df[i].fillna(df[i].mean())

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7048 entries, 1 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Boat Type                    7048 non-null   object
 1   Manufacturer                 7048 non-null   object
 2   Type                         7048 non-null   object
 3   Year Built                   7048 non-null   int64
 4   Length                       7048 non-null   float64
 5   Width                        7048 non-null   float64
 6   Material                     7048 non-null   object
 7   Number of views last 7 days  7048 non-null   int64
 8   currency                     7048 non-null   object
 9   price_dollar                 7048 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 605.7+ KB

In [18]:
for i in col_list:
    if df[i].dtypes=='object':
        df[i]=le.fit_transform(df[i])

In [19]:
df.dtypes

Boat Type                        int32
Manufacturer                     int32
Type                             int32
Year Built                       int64
Length                         float64
Width                          float64
Material                         int32
Number of views last 7 days      int64
currency                         int32
price_dollar                   float64
dtype: object

In [20]:
x=df.drop(['price_dollar'],axis=1)
y=df['price_dollar']

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split, StratifiedKFold

rfe=RFE(RandomForestRegressor(), n_features_to_select=10)

In [23]:
rfe.fit(x,y)

RFE(estimator=RandomForestRegressor(), n_features_to_select=10)

In [24]:
rfe.ranking_

array([1, 1, 1, 1, 1, 1, 1, 1, 1])

In [25]:
rfe.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])

In [26]:
feature=x.columns[rfe.get_support()]
feature

Index(['Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length', 'Width',
       'Material', 'Number of views last 7 days', 'currency'],
      dtype='object')

In [27]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [28]:
X_train=rfe.transform(X_train)
X_test=rfe.transform(X_test)

In [29]:
model=RandomForestRegressor()

In [30]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [31]:
pred=model.predict(X_test)

In [32]:
#evaluation
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [33]:
#mean squared error
mse=mean_squared_error(y_test,pred)
print(mse)

49370025968.895065

In [34]:
#mean absolute error
mae=mean_absolute_error(y_test,pred)
print(mae)

63921.859220236416

In [37]:
#r2 score
r2=r2_score(y_test,pred)
print(r2*100)

92.81055415373466